.idea/
*.iml
*.iws
*.ipr
out/
!src/main/resources/
!src/test/resources/
target/
build/
bin/
classes/
generated/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.gradle/
build/
gradle-app.setting
build/
*.log
*.tmp
*.temp
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
*.zip
*.tar
*.tar.gz
*.rar
*.class
*.swp
*.swo
hs_err_pid*
replay_pid*
